h3 {
  text-align: center;
}

nav {
  background-color: blanchedalmond;
}

/*-----------------------------------------*/

nav .nav-link {
  color: blue;
}

nav .nav-link:hover {
  /*color: red;*/
  background-color: darkgrey;
}

/*-----------------------------------------*/
.head {
  height: 70px;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: grey;
}

nav ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav .about {
  float: right;
}

section {
  margin-top: 20px;
}

table td,
table th {
  border: 1px black solid;
  text-align: center;
  padding: 5px;
}